/* Fonts: 
    - Monstserrat: 400, 500, 600
    - Prata: 400
*/

@import url('https://fonts.googleapis.com/css2?family=Prata:wght@400&family=Montserrat:wght@400;500;600');

:root{
    --primary-color: #2bcbba;
    --light-color: #d1d8e0;
    --grey-color: #687080;
    --red-color: #ff4757;
    --flashwhite-color: #f1f2f6;
    --white-color: #ffffff;
    --dark-color: #212121;

    --primary-font: 'Monstserrat', sans-serif;
    --second-font: 'Prata', serif;
    --fs14: 14px;
    --fw600: 600;

    --transition-color: color .3s;
    --transition-background: background-color .3s;
    --transition-border: border .3s;
    --transition-transform: transform .3s;

    --shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
    --fade: fade-bottom .3s cubic-bezier(0.39, 0.575, .0565, 1) both; /* animation-name    animation-duration    animation-timing-function    animation-fill-mode */
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}
*, ::before, ::after {
    box-sizing: border-box;
}
body{
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--white-color);
}
a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
img{
    max-width: 100%; 
    vertical-align: middle; /*  VA css stili 'inline' ve 'inline-block' olan elementlere tesir edir. Burda 'img' tag-ine VA dedikde, onunla eyni seviyyede olan metnler yuxari, asagi, ortaya ve.s hereket edecekler. */
}
ul{ list-style: none;}
p{margin: 0 0 15px;}
input, textarea, select {font: inherit; width: 100%;}
input[type=checkbox], input[type=radio] {width: auto;}
input::placeholder, textarea::placeholder { color: inherit;}
button { font: inherit;}
strong { font-weight: var(--fw600);}

h1, h2, h3, h4{
    font-family: var(--second-font);
    font-weight: 400;
    line-height: normal;
}
h1 {font-size: 2.75em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
h4 {font-size: 1em;}

/* 
    Reused Style
*/

.container {
    max-width: var(--max-width, 1200px);
    padding: 0 var(--gutter, 15px);
    margin: 0 auto;
}
.item-floating{
    position: absolute;
    font-size: 10px;
    font-weight: var(--fw600);
    top: -8px;
    right: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.button > [class*=-btn]{
    font-size: var(--fs14);
    font-weight: var(--fw600);
    text-transform: uppercase;
    padding: 0 30px;
    display: inline-block;
    line-height: 42px;
    border-width: 2px;
    border-style: solid;
    transition: var(--transition-background),
                var(--transition-color),
                var(--transition-border);
}
.primary-btn, .secondary-btn{
    border-color: var(--dark-color);
}
.primary-btn:hover,
.secondary-btn{
    background-color: var(--dark-color);
    color: var(--white-color);
}

.secondary-btn:hover{
    background-color: transparent;
    border-color: var(--dark-color);
    color: var(--dark-color);
}

.title{
    font-size: clamp(30px, -0.875em + 8.333vw, var(--fs-max, 40px));
}

.grey-color{
    color: var(--grey-color);
}




/* 
    Grouped selectors
*/

.item-floating, .header-center .branding{
    display: flex;
    align-items: center;
    justify-content: center;

}

.list-block a{
    position: relative;
    font-size: var(--fs14);
    color: var(--grey-color);
    padding: 5px 0;
    display: inline-block;
    transition: var(--transition-color);
}
.list-block a:hover{
    color: var(--dark-color);
}
.list-block a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--dark-color);
    left: -15px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: width .3s, height .3s;
}
.list-block a:hover::before{
    width: 8px;
    height: 8px;
}


@keyframes fade-bottom {
    0% {
        transform: translateY(10px); /* Y oxu boyunca 10px asagidan 0px seviyyesine qalxacaq */
        opacity: 0;
    }
    100% {
        transform: translateY(0);   /* Y oxu boyunca 10px asagidan 0px seviyyesine qalxacaq */
        opacity: 1;
    }
}

.dot-title{
    font-family: var(--primary-font);
    font-size: var(--fs14);
    font-weight: var(--fw600);
    line-height: 34px;
}
.dot-title a{
    transition: var(--transition-color);
}
.dot-title a:hover,
.dotgrid .product-price .before{
    color: var(--light-color);
}

.overlay,
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay{
    background-color: var(--dark-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
    transition: opacity .3s, visibility .3s;
}
.overlay.active{
    opacity: .75;
    visibility: visible;
    pointer-events: all;
}

.scrollto > .wrapper{
    --display: flex;
    padding-bottom: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain; /* konteyneri saga surusdurdukde, mumkun ola bilecek xosa gelmiyen effektlerin qarsini almaq ucun istifade edilir. */
    scroll-snap-type: inline mandatory; /* 1ci deyer X 2ci deyer ise Y oxudur */
}
.scrollto .wrapper::-webkit-scrollbar{ /* cubugun qalinligini teyin edir */
    width: 12px;
    height: 12px;
}
.scrollto .wrapper::-webkit-scrollbar-thumb{ /* cubugun formasini teyin edir */
    --border-color: var(--white-color);
    background-color: var(--light-color);
    border: 3px solid var(--border-color);
    border-radius: 20px;
}
.scrollto .wrapper:hover::-webkit-scrollbar-thumb{
    background-color: var(--grey-color); /* NAV tag-inin uzerine geldikde surusdurme cubugu GRAY olur */
}
.scrollto .wrapper::-webkit-scrollbar-thumb:hover{
    background-color: var(--grey-color); /* Surusdurme cubugunun uzerinde geldikde surusdurme cubugu GRAY olur */
}







/* 
    HEADER
*/
.inner-header{
    line-height: 80px;
}
.inner-header :where(.wrap, .menu > ul),
.list-inline > ul{
    display: flex;
    align-items: center;
}
.header-left, .header-right{
    flex-grow: 1;
}
.header-center nav{
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 180px; /* gap ekran genisliyi azaldiqda sixilmir */
    max-width: 720px;
}
.header-center .branding{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
}
.header-center .branding a{
    font-family: var(--second-font);
    font-size: 30px;
    line-height: inherit;
    pointer-events: auto;
}
.header-center .menu > ul > li > a{
    font-size: var(--fs14);
    font-weight: var(--fw600);
    text-transform: uppercase;
    padding: 0 15px;
    display: flex;
    gap: 5px;
}
.header-right ul{
    justify-content: flex-end;
}
.list-inline a,
.menu-trigger,
.close-trigger{
    position: relative;
    font-size: 24px;
    padding: 0 10px;
    line-height: 1;
    display: flex;
    transition: var(--transition-color);
}
.list-inline a:hover,
.menu-trigger:hover {
    color: var(--light-color);
}
.header-left .list-inline{
    display: none;
}
:where(.header-left, .header-right) li{
    display: flex;
    align-items: center;
    height: 80px;
}

/*
    HEADER: Product
*/

.dotgrid .wrapper {
    display: var(--display, grid);  /* repeat(auto-fit) - bu css stili usaq tag-leri yan yana beraber sekilde duzur ve ekran genisliyi azaldigi zaman eger bos yer qalmaz ise hemin tag-leri alt-alta dusurur */
    --grid-col: 175px;  /* deyiskeni burda yaradiriq ve ona deyer veririk sonra ise hemin deyiskeni asagida cagirirq. */
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-col), 100%), 1fr)); /* min:175px ve daha az ola biler, max ise 1fr yeni bos qalan mekani 3 DIV tag-i arasinda beraber sekilde paylasdirsin. AUTOFIT */
    gap: var(--gutter, 30px);
}
.dotgrid .dot-image{
    position: relative;
    margin-bottom: 15px;
    overflow: hidden; /* asagida  (transform: scale3d(1.1, 1.1, 1.1) translateZ(0);) deyerek uzerinde 'hover' etdikde 2ci DIV tag-i boyusun yeni qabaga cixsin demisik. Bu effekt kenara yayilmasin deye yeni sadece ANA DIV tag-inin icinde qalsin deye kenara cixan qisimleri 'hidden' deyerek gizledirik */
}
.dotgrid .dot-image > a,
.dotgrid .thumbnail.hover, /* hemcinin 2ci sekil "absolute" dedikde uste olacaq ancaq biz onu solgun edeceyik ve asagida hover deyerek gorunur hala salasiyiq */
.dotgrid .actions, /* actions DIV tag-i absolute olur ancaq top deyerini default etmek ucun asagida (top: auto;) deyirik */
.dotgrid .dot-image .label{
    position: absolute;
    top: 0; /* 0 (sifirlar) ona gore verilir ki yeni a tag-i hemin DIV tag-inin butun hundurluyu, solu, sagi ve asagisi boyunca yayilsin */
    left: 0;
    right: 0;
    bottom: 0;
}
.dotgrid .dot-image > a{
    z-index: 1;
}
.dotgrid .thumbnail.hover{
    opacity: 0;
    transition: opacity .75s ease,
                transform 1.1s cubic-bezier(.15, .75, .5, 1) 0s;
    backface-visibility: hidden;
    transform: translateZ(0);
}
.dotgrid .dot-image:hover .thumbnail.hover{
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
}
.dotgrid .actions{
    z-index: 2;
    top: auto; /* yuxarida top:0 verildiyi ucun ancaq bu top:0 ACTIONS div tag-ine aid olmadigi ucun hemin deyeri default-a ceviririk top:auto deyerek.. */
    bottom: 20px;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    transition: all .3s cubic-bezier(0, 0, .2, 1);
}
.dot-image:hover .actions {
    opacity: 1;
    transform: translateZ(0);
}
.dotgrid .actions ul,
.dotgrid .dot-image .label{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dotgrid .actions ul li a,
.dotgrid .dot-image .label span {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: var(--transition-background), var(--transition-color);
}
.dotgrid .actions ul li a:hover{
    background-color: var(--dark-color);
    color: var(--white-color);
}
.dotgrid .dot-image .label{
    top: auto;
    bottom: 20px;
}
.dotgrid .dot-image .label span{
    font-size: 12px;
    font-weight: var(--fw600);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.dotgrid .dot-info{
    text-align: center;
}

.dotgrid .product-price .before{
    text-decoration: line-through;
}


/* 
    Header search
*/

.inner-header .search-float{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 80px;
    background-color: var(--white-color);
    z-index: 1000;
    display: none;
}
form.search{
    position: relative;
}
form.search :where(i, .submit){
    position: absolute;
    left: 0;
    top: 0;
}
form.search .input{
    outline: 0;
    padding: 15px 50px;
}
form.search i{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
}
form.search :where(.submit, i:last-child){
    left: auto;
    right: 0;
}
form.search .submit {
    border: 0;
    background-color: transparent;
    color: transparent;
    width: 50px;
    height: 100%;
    right: 0;
    z-index: 1;
    cursor: pointer;
}
form :where(input, textarea, select){
    font-size: var(--fs14);
    border: 1px solid var(--light-color);
    outline: 0;
    background-color: transparent;
    padding: 10px 20px;
    transition: border .3s;
}
form :where(input, textarea, select):focus {
    border-color: var(--dark-color);
}
form :where(input, textarea, select)::placeholder{
    color: var(--grey-color);
}







.inner-header .search .input{
    display: flex;
    border: 0;
    height: 80px;
    font-size: 18px;  
}
.search-float.active{
    display: block;
}


/*
    HEADER: Mobile menu
*/
.mobile-menu{
    z-index: 1001;
    pointer-events: none;
    visibility: hidden;
    opacity: 0; transition: .3s ease-in-out;
}
.mobile-menu.active{
    visibility: visible;
    opacity: 1;
}
.mobile-menu .wrap{
    position: relative;
    max-width: calc(100% - 40px);
    width: 360px;
    height: 100%;
    background-color: var(--white-color);
    pointer-events: auto;
    transform: translateX(var(--transX, -100%));
    transition: var(--transition-transform);
}
.mobile-menu.active .wrap{
    transform: translateX(0);
}
.mobile-menu .close-trigger,
.mobile-menu .child-trigger{
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    height: 40px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-menu .main-menu{
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.mobile-menu nav > ul {
    padding: 20px 0;
}
.mobile-menu nav > ul > li > a {
    position: relative;
    padding: 12px 0;
    font-weight: 500;
    transition: var(--transition-color);
}
.mobile-menu nav li :where(li, a){
    display: block;
}
.mobile-menu nav > ul > li > a:hover{
    color: var(--grey-color);
}
.mobile-menu .child-trigger{
    color: var(--dark-color);
    font-size: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: var(--transition-background);
    z-index: 1;
}
.mobile-menu .child-trigger:hover{
    background-color: var(--light-color);
}
.mobile-menu nav .sub-menu{
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .3s ease-in-out;
}
.mobile-menu nav li.active .sub-menu{
    max-height: 1000px;
    visibility: visible ;
}
.mobile-menu .button {
    margin-top: auto;
    padding: 20px 0 40px;
    text-align: center;
}
.mobile-menu .button a{
    display: block;
    margin-top: 10px;
}


/*
    SLIDER
*/

.slider :where(.image, .ob-cover){  
    position: relative;
}
.slider .ob-cover{
    height: 430px;
}
.ob-cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider .title-info{
    background-color: var(--white-color);
}
.slider .title-info .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 5vw;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.slider .title-info .price{
    position: relative;
    font-size: 30px;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    background-color: var(--dark-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.slider .custom-pagination{
    position: absolute;
    right: 30px;
    top: 50%;
    bottom: 50%;
}
.slider .custom-pagination .swiper-pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider .custom-pagination .swiper-pagination-bullet{
    position: relative;
    width: 24px;
    height: 24px;
    opacity: 1;
    background-color: transparent;
}
.custom-pagination .swiper-pagination-bullet::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    background-color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s, transform .2s;
}
.custom-pagination .swiper-pagination-bullet-active::before{
    background-color: transparent;
    width: 15px;
    height: 15px;
}
.slider .title-info :where(span, h3, .button){
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: transform .75s, opacity .75s, visibility .75s;
}
.slider .swiper-slide-active .title-info :where(span, h3, .button){
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.slider .swiper-slide-active .title-info h3{
    transition-delay: .5s;
}
.slider .swiper-slide-active .title-info .button{
    transition-delay: .75s;
}


/*
    GUIDE
*/
.page-home main > div:not(.slider, .frominsta),
.inner-footer{
    padding: 100px 0;
}
.guide{
    background-color: var(--flashwhite-color);
}
main > div .heading{
    text-align: center;
    margin-bottom: 60px;
}
.guide .dotgrid .wrapper{
    --grid-col: 260px;
}
:is(.guide, .fromblog) .dot-image .thumbnail {
    position: relative;
    opacity: unset;
}
:is(.guide, .fromblog) .dot-image .thumbnail img{
    width: 100%;
}

.guide .dot-title{
    --fs14: 18px;
    --fw600: 400;
    padding-left: 10px 0;
}
.guide .dot-info p{
    line-height: 1.4;
}
.scrollto .wrapper .item{
    width: 290px;
    scroll-snap-align: start;
    flex-shrink: 0;
}
.guide .scrollto .wrapper::-webkit-scrollbar-thumb{
    --border-color: #f0f9f8;
}

/*
    CAROUSEL
*/

.carousel .inner-wrapper {
    position: relative;
}
.carousel .dotgrid .wrapper {
    display: flex;
    grid-template-columns: unset;
    gap: unset;
}
.carousel .nav > div::after{
    content: none;
}
.carousel .nav > div {
    width: 40px;
    height: 40px;
    border: 1px solid var(--grey-color);
    border-radius: 50%;
    color: var(--dark-color);
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
    transition: var(--transition-background),
                var(--transition-color),
                var(--transition-border);
}
.carousel .nav > div:hover{
    color: var(--white-color);
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}
.carousel .nav .swiper-button-disabled {
    opacity: 0;
}


/*
    BYCATS
*/

.bycats .heading {
    display: flex;
    justify-content: center;
}
.bycats .heading > span {
    font-family: var(--second-font);
    font-size: 32px;
    margin-right: 20px;
}
.bycats .heading > span,
.opt-trigger {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 15px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.sort-list .wrap {
    position: relative;
}
.sort-list .wrap ul {
    position: absolute;
    text-align: left;
    top: 50px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    z-index: 10;
    display: none;
    animation: var(--fade);
}
.sort-list .wrap ul.show{
    display: block;
}
.sort-list ul li a{
    display: block;
    padding: 5px 20px;
    transition: var(--transition-background), var(--transition-color);
}
.sort-list ul li a:hover,
.sort-list ul li.active a{
    background-color: var(--dark-color);
    color: var(--white-color);
}
.sort-data {
    display: none;
    animation: var(--fade);
}
.sort-data.active {
    display: block;
}

/* 
    #BANNER
*/

.banner {
    background-color: var(--light-color);
    background-image: url(assets/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-origin: border-box;
}
.banner .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.banner .content span{
    font-size: var(--fs14);
    text-transform: uppercase;
}
.banner h3{
    --fs-max: 80px;
}

/* 
    #FROM BLOG
*/

.fromblog .dot-title{
    --primary-font: var(--second-font);
    --fs14: 18px;
    --fw600: 400;
    margin-top: 15px;
}
.fromblog .dot-info > a {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid var(--light-color);
    color: var(--grey-color);
    padding: 1px 10px;
    transition: var(--transition-background),
                var(--transition-color),
                var(--transition-border);
}
.fromblog .dot-info > a:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
    border-color: var(--dark-color);
}
.fromblog .button {
    text-align: center;
    margin-top: 40px;
}
/* 
    #FROM INSTAGRAM
*/
.frominsta .container.wide{
    --max-width: none;
    --gutter: 0;
}
.frominsta .dotgrid .wrapper{
    background-color: var(--flashwhite-color);
}
.frominsta img{
    width: 100%;
}
.frominsta .dot-image{
    margin: 0;
}
.frominsta .actions{
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    pointer-events: none;
}
.frominsta .scrollto .wrapper::-webkit-scrollbar-thumb{
    --border-color: var(--flashwhite-color);
    background-color: var(--grey-color);
}


/* 
    FOOTER
*/
.inner-footer {
    background-color: var(--flashwhite-color);
    line-height: 1.4;
    padding-bottom: 30px;
}
.inner-footer .wrap > div {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 60px;
}
.inner-footer .subscribe{
    width: 100%;
}
.inner-footer .top .subscribe h3 {
    margin-bottom: 20px;
}
.inner-footer p{
    font-size: var(--fs14);
}
.inner-footer .search {
    max-width: 400px;
}
.inner-footer .search .input {
    font-size: var(--fs14);
    border: 2px solid var(--dark-color);
}

.inner-footer .bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


/* 
    PAGE SINGLE
*/

/* 
    BREADCRUMB
*/

.breadcrumb {
    width: 100%;
    line-height: initial;
    padding: 30px 0 50px;
}
.breadcrumb ul{
    justify-content: center;
}
.breadcrumb ul li{
    position: relative;
    margin-right: 10px;
}
.breadcrumb ul li:not(:first-child) {
    padding-left: 25px;
}
.breadcrumb ul li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBwb2ludHM9IjE2MCwxMTUuNCAxODAuNyw5NiAzNTIsMjU2IDE4MC43LDQxNiAxNjAsMzk2LjcgMzEwLjUsMjU2ICIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: cover;
}
.breadcrumb ul :where(li, li a){
    font-size: var(--fs14);
    padding: 0;
}
.breadcrumb ul li:last-child {
    color: var(--grey-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* свойство text-overflow со значением ellipsis, которое добавляет многоточие в конце текста */
}

/* 
    PRODUCT IMAGE
*/
.product .wrapper {
    --grid-col: 331px;
}
.product .main-image img {
    width: 100%;
}

.product .outer-thumb{
    display: none;
}
.product .outer-thumb .item{
    height: fit-content!important;
    cursor: pointer;
}
.product .thumb-wrap {
    position: relative;
    width: 70px;
    height: 90px;
}

.product .outer-thumb img {
    transition: var(--transition-transform);
}
.product .outer-thumb .swiper-slide-thumb-active > div,
.product .outer-thumb .item:hover > div {
    border: 1px solid var(--grey-color);
}
.product .outer-thumb .swiper-slide-thumb-active img,
.product .outer-thumb .item:hover img{
    transform: scale3d(.85, .85, .85);
}

.product .custom-pagination{
    position: relative;
    height: 50px;
}


/* 
    Product Summary
*/
.summary .entry {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.summary .product-group {
    display: flex;
    justify-content: space-between;
}
.summary .product-price{
    display: flex;
    align-items: center;
}
.summary .product-price .current {
    font-size: 30px;
}
.summary .product-price .wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.summary .product-price .wrap::before{
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    height: 100%;
    width: 1px;
    background-color: var(--grey-color);
    transform: skewX(-25deg);
}
.summary .product-price .discount{
    display: inline-block;
    width: 44px;
    font-size: var(--fs14);
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin-left: -10px;
    text-align: center;
    border-radius: 5px;
    line-height: 1;
}
.summary .product-rating {
    line-height: initial;
    text-align: right;
}
.summary .product-rating a{
    font-size: var(--fs14);
    padding-left: 10px;
    color: var(--grey-color);
    text-decoration: dotted;
    text-decoration-line: underline;
    white-space: nowrap;
    transition: var(--transition-color);
}
.summary .product-rating a:hover{
    color: var(--dark-color);
}

.summary .wrap:has(button) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.summary button {
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}
.summary .wrap > button,
.summary .qty button {
    width: 40px;
    height: 40px;
    transition: box-shadow .3s;
}
.summary .product-color button{
    border-radius: 50%;
}
.summary .product-color button.tosca {background-color: #a9cdcc;}
.summary .product-color button.brown {background-color: #966548;}
.summary .product-color button.ocean {background-color: #81b8cc;}

.summary .product-color button.selected,
.summary .product-color button:hover:not(.selected) {
    box-shadow: inset 0 0 0 4px var(--white-color);
}

.summary .product-size button {
    font-size: var(--fs14);
    line-height: 44px;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    background-color: transparent;
}
.summary .product-price button.selected{
    
}

@media (min-width: 481px) {
    .product .wrapper{
        --gutter: 60px;
    }
    .product.dotgrid .image{
        position: relative;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        height: min-content;
        overflow: hidden;
    }
    .product .outer-main{
        width: calc(100% - 85px);
        height: 100%;
        margin: 0 0 0 85px;
    }
    .product .outer-thumb {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .custom-pagination{
        display: none;
    }
}






@media (min-width: 768px) {
    .banner {
        background-size: contain;
    }
}




@media(min-width: 992px){
    .menu-trigger{
        display: none;
    }
    .header-center nav{
        display: grid;
    }
    .header-left .list-inline{
        display: block;
    }

    /* 
        Sub menu & Mega
    */
    .mega-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 60px;
    }
    .mega-content .links{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
        gap: 15px;
    }
    nav.menu .sub-mega{
        left: 0;
        right: 0;
        padding: 50px 0;
    }
    nav.menu :where(.sub-menu, .sub-mega){
        position: absolute;
        top: auto;
        line-height: initial;
        background-color: var(--white-color);
        box-shadow: var(--shadow);
        z-index: 1000;
        display: none;
        animation: var(--fade);
    }
    nav.menu li:hover :where(.sub-menu, .sub-mega){
        display: block;
    }

    nav.menu .sub-menu{
        padding: 10px 0;
    }
    nav.menu .sub-menu li{
        padding: 5px 30px;
    }

    /* slider */
    .slider .ob-cover{
        height: calc(100vh - 80px);
    }
    .slider .title-info{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
    }
    .slider h3{
        --fs-max: 80px;
        color: var(--white-color);
    }
    .slider .button a{
        border-color: var(--white-color);
        color: var(--white-color);
    }
    .slider .button a:hover{
        border-color: var(--dark-color);
    }

    .scrollto .wrapper {
        --display: grid;
        padding: 0;
        overflow: unset;
        scroll-snap-type: unset;
        overscroll-behavior-inline: unset;
    }
    .scrollto .wrapper .item{
        width: unset;
    }

    .inner-footer .wrap > div {
        flex-flow: nowrap;
    }
}

@media(max-width:1200px){
    .carousel .dotgrid .item{
        width: 270px;
    }
}

@media(min-width:1200px){
    .container.wide{
        --max-width: 1720px;
        --gutter: 40px;
    }
}
@media(min-width:1400px){
    .mega-content{
       grid-template-columns: 1fr 1fr;
    }
    .carousel .inner-wrapper{
        max-width: 1250px;
        margin: 0 auto;
        padding: 0 40px;
    }
    .carousel .nav > .swiper-button-next {
        right: -40px;
    }
    .carousel .nav > .swiper-button-prev {
        left: -40px;
    }
}


















/* 0558943861 */